.page {
  width: 100%;
}

.title {
  margin-bottom: 12px;
}

.actions {
  margin-bottom: 16px;
}

.spin {
  display: block;
  text-align: center;
  margin-top: 50px;
}

.infoRow {
  margin-bottom: 8px;
}

.empty {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .actions {
    width: 100%;
  }
}
