.breadcrumb {
  margin-bottom: 16px;
}

.title {
  margin: 0;
}

.actionsContainer {
  margin-top: 24px;
}

.space {
  width: 100%;
}

.spin {
  display: block;
  text-align: center;
  margin-top: 50px;
}

